@import url("//at.alicdn.com/t/font_2266068_otkvzqnxk0g.css");
:root body {
  margin: 0;
  height: 100vh;
  padding-top: 45px;
  background: url(/images/background.jpg);
}
:root body a {
  color: inherit;
}
:root body a:hover, :root body a:hover .iconfont {
  text-decoration: none;
  color: #3273dc !important;
}
:root body .tag.post-item-tag {
  margin-right: 5px;
  font-weight: bold;
  color: darkorange;
  font-style: normal;
  border-radius: 10px;
  background: transparent;
  border: 2px solid darkorange;
}
:root body .button.is-default {
  height: 40px;
  border: none;
  border-radius: 6px;
  color: var(--second-text-color);
  background: var(--third-bg-color);
}
:root body > main {
  flex-grow: 2;
  flex-basis: 0;
}
:root body > footer {
  margin: 0 30px;
  padding: 20px 0;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
}
:root body > footer .sns-container .iconfont {
  margin: 0 5px;
  font-size: 30px;
}

.header-widget {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  overflow: hidden;
  width: 100vw;
  height: 42px;
  padding: 0 15px;
  backdrop-filter: saturate(180%) blur(20px);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  background: var(--top-bar-bg-color);
}
.header-widget a {
  margin: 0 8px;
  font-weight: bold;
  color: var(--primary-text-color);
}
.header-widget h3 {
  font-weight: bold;
}